body{
    background-image: url("https://i.goopics.net/tx3kin.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - Menu de navigation - */

*{
    margin: 0px;
    padding: 0px;
    
}

nav ul{
    list-style-type: none;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
    border: 2px black;
    opacity: 0.78;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
    list-style-type: none
}

nav a{
    display: black;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    display: block;
    background-color: #eeeeee;
}

nav a:hover{
    font-weight: bold;
    color:black;
    background-color: #2f79a1;
    transition-duration: 0.3s;
    border: 2px solid black;

}

.menu{
    font-family: 'Raleway',sans-serif ; font-weight: 500;
}

/* ------------------------ */

h1 {
    margin-bottom: 60px;
    margin-top: 65px;
    text-align: center;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    font-size: 50px;
}

h1 span {
    background: fixed;
    background-color: rgba(29, 150, 35, 0.422);
    padding-top: 16px;
    padding-left: 50px; padding-right: 50px;
    padding-bottom: 16px;
    border-radius: 25px;
}



h2 {
    text-align: center;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    font-size: 48px;
}

h2 span {

    background: fixed;
    background-color: #FFFFFF88;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    padding-right: 20px;
    border-radius: 25px;
}

h3 {
    margin-top: 20px; 
    text-align: center;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    font-size: 31px;
}

.Decouverte {

    position: absolute; left: 50%;
    -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
    margin-top: 100px;
    padding-top:10px ; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;
    font-size: 20px;
    transition-duration: 650ms;
    border: 2px solid #000000; border-radius: 25px;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
}

.Decouverte:hover {
    background-color: rgb(29, 150, 35); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(29, 150, 35);
    cursor: pointer;
}

.Rubrique {
    margin-left: 4%;
    margin-top: 25px;
    font-size: 32px;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
}

.Rubrique span {
    background: fixed;
    background-color: #FFFFFF88;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    padding-right: 38px;
    border-radius: 25px;
}

.Text {
    margin-top: 35px; margin-left: 7%; margin-bottom: 55px; margin-right: 25px;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    line-height: 29px;
}

.Text span {
    background:fixed;
    background-color: #ffffff52;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    padding-right: 18px;
    border-radius: 25px;
    display: inline-block;
}

/*
.SISR {
    margin-top: 35px; margin-left: 7%; margin-bottom: 55px; margin-right: 25px;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    line-height: 29px;
}

.SISR span {
    background:fixed;
    background-color: #ffffff52;
    padding-top: 10px; 
    padding-left: 18px;
    padding-bottom: 10px;
    padding-right: 18px;
    margin-left: 25%;
    border-radius: 25px;
    display: inline-block;
    font-size: 30px;
}

.SLAM {
    margin-top: 35px; margin-left: 7%; margin-bottom: 55px; margin-right: 25px;
    font-family: 'Raleway',sans-serif ; font-weight: 500;
    line-height: 29px;
}

.SLAM span {
    background:fixed;
    background-color: #ffffff52;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    padding-right: 18px;
    margin-right: 25%;
    border-radius: 25px;
    display: inline-block;
    font-size: 30px;
}
*/